* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #f6f6f6;
    font-family: Gordita;
}
@font-face {
    font-family: "Gordita";
    src: url(../fonts/Gordita-Medium.otf);
}
@media screen and (min-width:1200px) {
   .header {
    max-width: 100%;
    height: auto;
    border: 1px solid;
    padding: 30px 50px;
    background: var(--Background-3, #EEE);
}
.header .top-bar {
    display: flex;
    /* width: 1340px; */
    height: 50px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    background: #EEE;
}
.header .top-bar .logo .logo-text {
    font-family: Gordita;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}
.header .top-bar .nav ul li {
    font-family: Gordita;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}
.header .top-bar .menu-department-mobile,
.header .top-bar .menu-beauty-mobile,
.header .top-bar .menu-grocery-mobile {
    display: none;
}
.arrow-left {
    display: none;
}
.heart-icon-mobile {
    display: none;
}
.heart-icon .heart-mobile,
.buy .buy-mobile {
    display: none;
}
/* .heart-mobile,
.buy-mobile {
    display: none;
} */
.header .menu-mobile {
    display: none;
}
.header .logo {
    display: flex;
    gap: 10px;
}
.header .icon-nav span {
    font-family: Gordita;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    padding: 10px;
}
.header .nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    margin-right: 300px;
}
.header .nav ul li {
    list-style: none;
}
.header .nav ul li a {
    text-decoration: none;
    color: #1A162E;
}
.header .icon-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.header .icon-nav .search-icon {
    padding: 13px;
    border-radius: 8px;
    background: var(--Secondary-Color-Background, #FFF);
    box-shadow: 0 20px 60px 10px rgba(237, 237, 246, 0.20);
}
.header .icon-nav .heart-icon {
    padding: 10px 20px;
    border-radius: 8px;
    display: flex;
    gap: 30px;
    background: var(--Secondary-Color-Background, #FFF);
    box-shadow: 0 20px 60px 10px rgba(237, 237, 246, 0.20);
}
img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

.menu-department {
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 200px;
    width: 1240px;
    height: 582px;
    margin: 14px auto;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0 40px 90px 20px rgba(200, 200, 200, 0.40);
    z-index: 99;
}
.menu-department .img-ellipse {
    position: absolute;
    top: 20px;
    left: 20px;
}
.menu-department .img-category {
    position: absolute;
    top: 35px;
    left: 32px;
}
.menu-department .purple {
    position: absolute;
    top: 20px;
    left: 360px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: var(--Purple-Purple-70, linear-gradient(0deg, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.30) 100%), #7644E1);
}
.menu-department {
    /* display: none; */
    visibility: hidden;
    opacity: 0;
}
#nav-department:checked ~ .menu > .menu-department {
    /* display: flex; */
    visibility: visible;
    opacity: 1;
}
.menu-department .img-game {
    position: absolute;
    top: 35px;
    left: 375px;
}
.menu-department .img-star {
    position: absolute;
    bottom: 215px;
    left: 360px;
}
.menu-department .img-game-star {
    position: absolute;
    bottom: 205px;
    left: 375px;
}
.menu-department .img-polygon {
    position: absolute;
    top: 20px;
    left: 660px;
}
.menu-department .img-polygon1 {
    position: absolute;
    top: -15px;
    left: 240px;
}
.menu-department .img-monitor {
    position: absolute;
    top: 30px;
    left: 670px;
}
.menu-department .img-ellipse2 {
    position: absolute;
    top: 20px;
    right: 270px;
}
.menu-department .img-pocket {
    position: absolute;
    top: 35px;
    right: 260px;
}
.menu-department .img-polygon2 {
    position: absolute;
    right: 270px;
    top: 196px;
}
.menu-department .img-smartphone {
    position: absolute;
    right: 260px;
    top: 212px;
}
.menu-department .menu-column,
.menu-grocery .menu-column,
.menu-beauty .menu-column {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.menu-department .menu-column h4,
.menu-grocery .menu-column h4,
.menu-beauty .menu-column h4 {
    font-family: Gordita;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    padding-top: 20px;
    color: #1A162E;
}
.menu-department .menu-column ul li {
    list-style: none;
    padding-top: 10px;
}
.menu-department .menu-column ul li a {
    text-decoration: none;
    color: #000;
    font-family: Gordita;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: #1A162E;
}
.menu-department .menu-column ul li a:hover {
    color: #0071DC;
}
.menu-grocery {
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 200px;
    width: 1240px;
    height: 582px;
    margin: 14px auto;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0 40px 90px 20px rgba(200, 200, 200, 0.40);
    z-index: 99;
}
.menu-grocery {
    /* display: none; */
    visibility: hidden;
    opacity: 0;
}
#nav-grocery:checked ~ .menu > .menu-grocery {
    /* display: flex; */
    visibility: visible;
    opacity: 1;
}
.menu-grocery .menu-column ul li {
    list-style: none;
    padding-top: 10px;
}
.menu-grocery .menu-column ul li a {
    text-decoration: none;
    color: #000;
    font-family: Gordita;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: #1A162E;
}
.menu-grocery .menu-column ul li a:hover {
    color: #0071DC;
}
.menu-grocery .purple-grocery,
.menu-beauty .purple-grocery {
    position: absolute;
    top: 20px;
    left: 30px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: var(--Purple-Purple-70, linear-gradient(0deg, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.30) 100%), #7644E1);
}
.menu-grocery .img-grocery {
    position: absolute;
    top: -15px;
    right: 50%;
}
.menu-grocery .img-buy-grocery,
.menu-beauty .img-buy-grocery {
    position: absolute;
    top: 35px;
    left: 50px;
}
.menu-grocery .img-star-grocery {
    position: absolute;
    left: 30px;
    top: 192px;
}
.menu-grocery .img-tomato {
    position: absolute;
    left: 50px;
    top: 210px;
}
.menu-grocery .img-polygon-grocery {
    position: absolute;
    top: 20px;
    left: 350px;
}
.menu-grocery .img-bread {
    position: absolute;
    top: 35px;
    left: 360px;
}
.menu-grocery .img-frozen {
    position: absolute;
    bottom: 192px;
    left: 344px;
}
.menu-grocery .img-breakfast {
    position: absolute;
    bottom: 187px;
    left: 360px;
}
.menu-grocery .img-snack {
    position: absolute;
    top: 15px;
    right: 550px;
}
.menu-grocery .img-snack2 {
    position: absolute;
    top: 31px;
    right: 541px;
}
.menu-grocery .img-candy {
    position: absolute;
    top: 263px;
    right: 550px;
}
.menu-grocery .img-candy2 {
    position: absolute;
    top: 278px;
    right: 545px;
}
.menu-grocery .img-cooktails {
    position: absolute;
    top: 15px;
    right: 267px;
}
.menu-grocery .img-coffee {
    position: absolute;
    top: 31px;
    right: 255px;
}
.menu-grocery .img-beverages {
    position: absolute;
    top: 227px;
    right: 270px;
}
.menu-grocery .img-beverages2 {
    position: absolute;
    top: 241px;
    right: 263px;
}
.menu-beauty {
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 200px;
    width: 1240px;
    height: 582px;
    margin: 14px auto;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0 40px 90px 20px rgba(200, 200, 200, 0.40);
    z-index: 99;
}
.menu-beauty {
    /* display: none; */
    visibility: hidden;
    opacity: 1;
}
.menu-beauty .menu-column ul li {
    list-style: none;
    padding-top: 10px;
}
.menu-beauty .menu-column ul li a {
    text-decoration: none;
    color: #000;
    font-family: Gordita;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: #1A162E;
}
.menu-beauty .menu-column ul li a:hover {
    color: #0071DC;
}
.menu-beauty .img-polygon-white {
    position: absolute;
    top: -15px;
    left: 50%;
}
.menu-beauty .img-star-beauty {
    position: absolute;
    left: 30px;
    bottom: 225px;
}
.menu-beauty .img-group-beauty {
    position: absolute;
    left: 45px;
    bottom: 220px;
}
.menu-beauty .img-brands {
    position: absolute;
    top: 15px;
    left: 362px;
}
.menu-beauty .img-star-brands {
    position: absolute;
    top: 32px;
    left: 380px;
}
.menu-beauty .img-support {
    position: absolute;
    bottom: 187px;
    left: 362px;
}
.menu-beauty .img-support2 {
    position: absolute;
    left: 375px;
    bottom: 180px;
}
.menu-beauty .img-polygon-premium {
    position: absolute;
    top: 20px;
    right: 515px;
}
.menu-beauty .img-premium {
    position: absolute;
    top: 35px;
    right: 510px;
}
.menu-beauty .img-beauty {
    position: absolute;
    top: 17px;
    right: 235px;
}
.menu-beauty .img-woman {
    position: absolute;
    top: 30px;
    right: 220px;
}
#nav-beauty:checked ~ .menu > .menu-beauty {
    /* display: flex; */
    visibility: visible;
    opacity: 1;
}

.menu .overlay-department,
.menu .overlay-grocery,
.menu .overlay-beauty {
    position: fixed;
    inset: 0;
    z-index: 98;
    /* background-color: #0000006e; */
    visibility: hidden;
    opacity: 0;
    transition-property: opacity, visibility ;
    transition-duration: 0.3s;
}
#nav-department:checked ~ .menu > .overlay-department,
#nav-grocery:checked ~ .menu > .overlay-grocery,
#nav-beauty:checked ~ .menu > .overlay-beauty {
    opacity: 1;
    visibility: visible;
}
.filter {
    display: flex;
    justify-content: space-between;
}
.filter .filter-btn {
    font-family: Gordita;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    display: flex;
    padding: 6px 12px;
    align-items: center;
    gap: 14px;
    border-radius: 6px;
    background: #fff;
    margin: 12px 40px 12px 0;
    cursor: pointer;
}
.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 40px;
    background: #77DAE6;
    width: 1340px;
    height: 455px;
    flex-shrink: 0;
    border-radius: 20px;
    margin: 40px auto;
} 
.banner .banner-title {
    font-size: 42px;
    font-family: Gordita;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    color: #FFF;
    position: absolute;
    top: 67px;
    left: 70px;
    text-wrap: ;
}
.banner .banner1 {
    position: absolute;
    bottom: 93px;
    right: 133px;
    z-index: 1;
}
.banner .banner2 {
    position: absolute;
    bottom: 79px;
    right: 75px;
    z-index: 2;
}
.banner .banner3 {
    position: absolute;
    bottom: 0;
    right: 0;
}
.banner .line .line-row {
    display: block;
    width: 184px;
    height: 4px;
    background-color: #FFF;
    position: absolute;
    left: 70px;
    bottom: 74px;
}
.banner .line1 {
    position: absolute;
    left: 59px;
    bottom: 69px;
}
.banner .line2 {
    position: absolute;
    bottom: 69px;
    left: 253px;
}
.banner .line .number1 {
    position: absolute;
    color: #fff;
    left: 45px;
    bottom: 66px;
}
.banner .line .number5 {
    color: #fff;
    position: absolute;
    bottom: 66px;
    left: 272px;
}
.browse-categories {
    margin: 20px 4%;
}
.product-total {
    margin: 20px 4%;
}
.categories {
    display: flex;
    justify-content: space-between;
}
.categories .product {
    display: flex;
    background: #EEE;
    border-radius: 16px;
    width: 367px;
    height: 116px;
    padding: 20px 26px 20px 20px;
    gap: 51px;
    margin: 0 auto;
}
.categories .product img {
    background: #FFF;
    border-radius: 16px;
}
.categories .product .product-price {
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
}
.categories .product .product-describe {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #1A162E;
}

.filter-container {
    width: 1060px;
    height: 362px;
    flex-shrink: 0;
    margin: 0 auto;
    background: #fff;
    padding: 30px;
    border-radius: 20px;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: 99;
    right: 5%;
}
.filter-container .filter-section {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 30px;
    width: 1000px;
    height: 160px;
}
.filter .filter-btn label {
    cursor: pointer;
}
.range-slider {
    position: relative;
}
.range-slider .img-slider {
    position: absolute;
    top: -11px;
    left: 36px;
}
.range-slider .img-slider1 {
    position: absolute;
    top: -11px;
    right: 83px;
}
.range-slider span {
    display: block;
    width: 272px;
    height: 2px;
    flex-shrink: 0;
    background: #D2D1D6;
}
.overlay-btn {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    z-index: 98;
    /* background-color: #0000006e; */
    visibility: hidden;
    opacity: 0;
    transition-property: opacity, visibility ;
    transition-duration: 0.3s;
}
#filter-btn:checked ~ .overlay-btn {
    visibility: visible;
    opacity: 1;
}
.filter-container .filter-section .filter-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 272px;
    height: 100%;
}
.filter-container .filter-section .filter-group .price-input{
    display: flex;
    gap: 20px;
}
.filter-container .filter-section .filter-group .price-input span {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.filter-container .filter-section .filter-group .price-input p {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 121px;
    padding: 8px 12px;
    border: 1px solid #D2D1D6;
    border-radius: 6px; 
}
.filter-container .filter-section .filter-group .size-selector {
    display: flex;
    padding: 5px 14px;
    justify-content: space-between;
    border: 1px solid #D2D1D6;
    border-radius: 6px;
}
.filter-container .filter-section .filter-group .size-selector .weight {
    padding-left: 10px;
    border-left: 1px solid #D2D1D6;
}
.filter-container .filter-section .filter-group .size-buttons {
    display: flex;
    justify-content: space-between;
}
.filter-container .filter-section .filter-group .size-buttons span {
    color: #9E9DA8;
    background: #F8F8FB;
    padding: 6px 12px;
    border-radius: 6px;
    font-family: Gordita;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    cursor: pointer;
}
.filter-container .filter-section .filter-group .brands-search {
    display: flex;
    position: relative;
    gap: 10px;
}
.filter-container .filter-section .filter-group .brands-search img {
    position: absolute;
    top: 7px;
    right: 9px;
}
.filter-container .filter-section .filter-group .brands-search input {
    width: 302px;
    padding: 10px 16px;
    border: 1px solid #D2D1D6;
    border-radius: 6px;
}
.filter-container .filter-section .filter-group .brands-tags {
    display: flex;
    justify-content: space-between;
}
.filter-container .filter-section .filter-group .brands-tags span {
    color: #9E9DA8;
    background: #F8F8FB;
    padding: 6px 12px;
    border-radius: 6px;
    font-family: Gordita;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    cursor: pointer;
}
.filter-container .filter-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 18px;
    gap: 10px;
}
#filter-btn:checked ~ .filter-container {
    visibility: visible;
    opacity: 1;
}
.filter-container .filter-actions .cancel-btn {
    font-family: Gordita;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: #9E9DA8;
    background: #fff;
    border: none;
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}
.filter-container .filter-actions .btn-show-result {
    display: flex;
    justify-content:flex-start;
    padding: 9px 10px;
    gap: 10px;
    font-family: Gordita;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    border-radius: 6px;
    border: none;
    background: #FFB700;
    cursor: pointer;
}
.product-introduction {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    /* margin: 0 auto; */
    background: #F6F6F6;
}
.product-introduction .product-img {
    position: relative;
}
.product-introduction .product-img .product-heart {
    position: absolute;
    padding: 10px;
    background: #fff;
    border-radius: 99px;
    right: 16px;
    bottom: 5px;
}
.product-introduction .product-card {
    background: #FFF;
    border-radius: 10px;
    padding: 16px;
}
.product-introduction .product-card .product-details .product-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.product-introduction .product-card .product-details .product-brand {
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    color: #9E9DA8;
}
.product-introduction .product-card .product-quality {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.product-introduction .product-card .product-quality .product-rating {
    padding: 10px;
}
.product-introduction .product-card .product-quality .product-rating img {
    padding-right: 5px;
}
.banner .banner4 {
    display: none;
}

}
@media screen and (min-width:768px) and (max-width:1199px) {
    .header {
        max-width: 767px;
        /* position: relative; */
    }
    .nav .heart-icon-mobile .heart {
        display: flex;
        justify-content: space-between;
    }
    .nav .heart-icon-mobile .buy {
        display: flex;
        justify-content: space-between;
    }
    .header .nav {
        /* display: none; */
    }
    .nav label {
        margin-left: ;
    }
    #menu-mobile-btn:checked ~ .nav {
        left: 0;
    }
    #menu-mobile-btn:checked ~ .nav > .arrow-left {
        left: 0;
    }
    #menu-mobile-btn:checked ~ .overlay-mobile {
        visibility: visible;
        opacity: 1;
    }
    .overlay-mobile {
        position: fixed;
        inset: 0;
        z-index: 98;
        background-color: #0000006e;
        visibility: hidden;
        opacity: 0;
        transition-property: opacity, visibility ;
        transition-duration: 0.3s;
    }
    .header .top-bar .nav {
        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
        /* align-items: center; */
        position: absolute;
        background: #fff;
        width: 285px;
        height: auto;
        min-height: 100vh;
        top: 0;
        left: -285px;
        z-index: 99;
        padding: 20px;
        transition: all 0.3s ease;
        /* overflow: hidden; */
    }
    .menu-department-mobile {
        position: relative;
    }
    .header .top-bar .nav .arrow-left {
        display: flex;
        gap: 20px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .header .top-bar .nav .heart-icon-mobile {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .header .top-bar .nav ul li {
        list-style: none;
        padding: 10px;
    }
    .heart-desktop,
    .buy-desktop {
        display: none;
    }
    .header .icon-nav .search-icon,
    .header .icon-nav .heart-icon,
    .header .icon-nav .buy {
        display: none;
    }
    .menu .menu-grocery,
    .menu .menu-beauty {
        display: none;
    }
    .menu {
        display: none;
        padding: 20px;
    }
    .menu .menu-department {
        display: flex;
        flex-direction: column;
        position: absolute;
    }
    
    .menu .menu-department .menu-column ul li {
        list-style: none;
        display: none;

    }
    .menu .menu-department .menu-column ul li a {
        text-decoration: none;
        color: #000;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }
    .menu-department-mobile li {
        list-style: none;
        padding: 15px;
    }
    .menu-department-mobile {
        margin-left: -12px;
    }
    .menu-electronics {
        display: none;
        margin-left: 20px;
    }
    /* #electronics:checked ~ .menu-electronics {
        display: block;
    } */
     .menu-item input:checked ~ .menu-electronics {
        display: block;
     }
    .menu-department-mobile {
        display: none;
    }
    #nav-department:checked ~ .header > .top-bar > .nav > ul > li > .menu-department-mobile {
        display: block;
    } 
    .menu-department-mobile li a {
        text-decoration: none;
        /* position: absolute;
        left: 30px; */
        color: #000;
    }
    .menu-grocery-mobile {
        display: none;
        position: relative;
    }
    #nav-grocery:checked ~ .header > .top-bar > .nav > ul > li > .menu-grocery-mobile  {
        display: block;
    }
    .menu-grocery-mobile li {
        list-style: none;
        margin-left: 20px;
    }
    .menu-grocery-mobile li a {
        text-decoration: none;
        color: #000;
    }
    .menu-beauty-mobile {
        display: none;
    }
    .menu-beauty-mobile li {
        list-style: none;
        margin-left: 20px;
    }
    .menu-beauty-mobile li a {
        text-decoration: none;
        color: #000;
    }
    #nav-beauty:checked ~ .header > .top-bar > .nav > ul > li > .menu-beauty-mobile {
        display: block;
    }
    .header {
        width: 768px;
    }
    .header .top-bar {
        display: flex;
        width: 80%;
        padding: 16px;
        margin: 0 25%;
        flex-shrink: 1;
        justify-content: space-between;
        align-items: center;
        gap: 39px;
    }
    .header .top-bar .logo {
        display: flex;
        gap: 10px;
    }
    .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 40px;
    background: #77DAE6;
    width: 80%;
    height: 455px;
    flex-shrink: 0;
    border-radius: 20px;
    margin: 40px auto;
} 
.banner .banner-title {
    font-size: 42px;
    font-family: Gordita;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    color: #FFF;
    position: absolute;
    top: 67px;
    left: 70px;
    text-wrap: ;
}
.banner .banner1 {
    position: absolute;
    bottom: 93px;
    right: 133px;
    z-index: 1;
}
.banner .banner2 {
    position: absolute;
    bottom: 79px;
    right: 75px;
    z-index: 2;
}
.banner .banner3 {
    position: absolute;
    bottom: 0;
    right: 0;
}
.banner .line .line-row {
    display: block;
    width: 184px;
    height: 4px;
    background-color: #FFF;
    position: absolute;
    left: 70px;
    bottom: 74px;
}
.banner .line1 {
    position: absolute;
    left: 59px;
    bottom: 69px;
}
.banner .line2 {
    position: absolute;
    bottom: 69px;
    left: 253px;
}
.banner .line .number1 {
    position: absolute;
    color: #fff;
    left: 45px;
    bottom: 66px;
}
.banner .line .number5 {
    color: #fff;
    position: absolute;
    bottom: 66px;
    left: 272px;
}
    .banner .banner3 {
        display: none;
    }
    .banner .banner4 {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 163px;
        height: 111px;
        flex-shrink: 0;
    }
    .categories {
        display: flex;
        width: 80%;
        margin: 0 auto;
        /* flex-direction: column; */
        align-items: center;
        gap: 10px;
    }
    .categories .product {
        display: flex;
        padding: 20px 26px 20px 20px;
        border-radius: 10px;
        background: #fff;
        align-items: center;
        width: 289px;
        height: 84px;
    }
    .categories .product img {
        width: 88px;
        height: 88px;
    }
    .categories .product .product-info .product-price {
        font-family: Gordita;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px;
    }
    .categories .product .product-info .product-describe {
        font-family: Gordita;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        color: #1A162E;
    }
    .browse-categories {
        font-family: Gordita;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        margin: 20px 10%;
    }
    .filter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 8%;
    }
    .filter .filter-btn {
        font-family: Gordita;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        padding: 6px 12px;
        background: #fff;
        border-radius: 6px;
        cursor: pointer;
    }
    .filter-container {
    width: 1005px;
    height: 362px;
    flex-shrink: 0;
    margin: 0 auto;
    background: #fff;
    padding: 30px;
    border-radius: 20px;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: 99;
    right: 5%;
}
.filter-container .filter-section {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 30px;
    width: 1000px;
    height: 160px;
}
.range-slider {
    position: relative;
}
.range-slider .img-slider {
    position: absolute;
    top: -11px;
    left: 36px;
}
.range-slider .img-slider1 {
    position: absolute;
    top: -11px;
    right: 83px;
}
.range-slider span {
    display: block;
    width: 272px;
    height: 2px;
    flex-shrink: 0;
    background: #D2D1D6;
}
.overlay-btn {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    z-index: 98;
    /* background-color: #0000006e; */
    visibility: hidden;
    opacity: 0;
    transition-property: opacity, visibility ;
    transition-duration: 0.3s;
}
#filter-btn:checked ~ .overlay-btn {
    visibility: visible;
    opacity: 1;
}
.filter-container .filter-section .filter-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 272px;
    height: 100%;
}
.filter-container .filter-section .filter-group .price-input{
    display: flex;
    gap: 20px;
}
.filter-container .filter-section .filter-group .price-input span {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.filter-container .filter-section .filter-group .price-input p {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 121px;
    padding: 8px 12px;
    border: 1px solid #D2D1D6;
    border-radius: 6px; 
}
.filter-container .filter-section .filter-group .size-selector {
    display: flex;
    padding: 5px 14px;
    justify-content: space-between;
    border: 1px solid #D2D1D6;
    border-radius: 6px;
}
.filter-container .filter-section .filter-group .size-selector .weight {
    padding-left: 10px;
    border-left: 1px solid #D2D1D6;
}
.filter-container .filter-section .filter-group .size-buttons {
    display: flex;
    justify-content: space-between;
}
.filter-container .filter-section .filter-group .size-buttons span {
    color: #9E9DA8;
    background: #F8F8FB;
    padding: 6px 12px;
    border-radius: 6px;
    font-family: Gordita;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    cursor: pointer;
}
.filter-container .filter-section .filter-group .brands-search {
    display: flex;
    position: relative;
    gap: 10px;
}
.filter-container .filter-section .filter-group .brands-search img {
    position: absolute;
    top: 7px;
    right: 9px;
}
.filter-container .filter-section .filter-group .brands-search input {
    width: 302px;
    padding: 10px 16px;
    border: 1px solid #D2D1D6;
    border-radius: 6px;
}
.filter-container .filter-section .filter-group .brands-tags {
    display: flex;
    justify-content: space-between;
}
.filter-container .filter-section .filter-group .brands-tags span {
    color: #9E9DA8;
    background: #F8F8FB;
    padding: 6px 12px;
    border-radius: 6px;
    font-family: Gordita;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    cursor: pointer;
}
.filter-container .filter-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 18px;
    gap: 10px;
}
#filter-btn:checked ~ .filter-container {
    visibility: visible;
    opacity: 1;
}
.filter-container .filter-actions .cancel-btn {
    font-family: Gordita;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: #9E9DA8;
    background: #fff;
    border: none;
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}
.filter-container .filter-actions .btn-show-result {
    display: flex;
    justify-content:flex-start;
    padding: 9px 10px;
    gap: 10px;
    font-family: Gordita;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    border-radius: 6px;
    border: none;
    background: #FFB700;
    cursor: pointer;
}
    .product-introduction {
        display: flex;
        align-items: center;
        /* flex-direction: column; */
        gap: 30px;
    }
    .product-introduction .product-card {
        display: flex;
        flex-direction: column;
        width: 333px;
        padding: 16px;
        gap: 10px;
        border-radius: 20px;
        background: #fff;
        position: relative;
    }
    .product-introduction .product-card .product-img {
        width: 280px;
        height: 274px;
        flex-shrink: 0;
    }
    .product-introduction .product-card:nth-child(4) {
        display: none;
    }
    .product-introduction .product-card .product-img .product-heart {
        position: absolute;
        bottom: 171px;
        right: 39px;
    }
    .product-introduction .product-card .product-details .product-title {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
    }
    .product-introduction .product-card .product-details .product-brand {
        font-size: 15px;
        font-weight: 400;
        line-height: 22px; 
        color: #9E9DA8;
    }
    .product-introduction .product-card .product-quality {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
    }
    .product-introduction .product-card .product-quality .product-rating {
        padding: 10px;
    }
    .product-introduction .product-card .product-quality .product-rating img {
        padding-right: 5px;
    }
}
@media screen and (max-width:767.98px) {
    .header {
        max-width: 767px;
        /* position: relative; */
    }
    .nav .heart-icon-mobile .heart {
        display: flex;
        justify-content: space-between;
    }
    .nav .heart-icon-mobile .buy {
        display: flex;
        justify-content: space-between;
    }
    .header .nav {
        /* display: none; */
    }
    .line .line-row {
        display: block;
        position: absolute;
        bottom: 29px;
        left: 46px;
        width: 73px;
        height: 3px;
        background: #fff
    }
    .line .line1 {
        position: absolute;
        bottom: 23px;
        left: 33px;
    }
    .line .line2 {
        position: absolute;
        bottom: 23px;
        left: 112px;
    }
    .line .number1 {
        position: absolute;
        bottom: 20px;
        left: 20px;
        color: #fff
    }
    .line .number5 {
        position: absolute;
        bottom: 20px;
        left: 133px;
        color: #fff;
    }
    .range-slider span {
        display: block;
        width: 272px;
        height: 2px;
        flex-shrink: 0;
        background: #D2D1D6;
    }
    .range-slider .img-slider {
        position: absolute;
        top: 105px;
        left: 57px;
    }
    .range-slider .img-slider1 {
        position: absolute;
        top: 105px;
        right: 57px
    }
    .nav label
     {
        margin-left: ;
    }
    #menu-mobile-btn:checked ~ .nav {
        left: 0;
    }
    #menu-mobile-btn:checked ~ .nav > .arrow-left {
        left: 0;
    }
    #menu-mobile-btn:checked ~ .overlay-mobile {
        visibility: visible;
        opacity: 1;
    }
    .overlay-mobile {
        position: fixed;
        inset: 0;
        z-index: 98;
        background-color: #0000006e;
        visibility: hidden;
        opacity: 0;
        transition-property: opacity, visibility ;
        transition-duration: 0.3s;
    }
    .header .top-bar .nav {
        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
        /* align-items: center; */
        position: absolute;
        background: #fff;
        width: 285px;
        height: auto;
        min-height: 100vh;
        top: 0;
        left: -285px;
        z-index: 99;
        padding: 20px;
        transition: all 0.3s ease;
        /* overflow: hidden; */
    }
    .menu-department-mobile {
        position: relative;
    }
    .header .top-bar .nav .arrow-left {
        display: flex;
        gap: 20px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .header .top-bar .nav .heart-icon-mobile {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .header .top-bar .nav ul li {
        list-style: none;
        padding: 10px;
    }
    .heart-desktop,
    .buy-desktop {
        display: none;
    }
    .header .icon-nav .search-icon,
    .header .icon-nav .heart-icon,
    .header .icon-nav .buy {
        display: none;
    }
    .menu .menu-grocery,
    .menu .menu-beauty {
        display: none;
    }
    .menu {
        display: none;
        padding: 20px;
    }
    .menu .menu-department {
        display: flex;
        flex-direction: column;
        position: absolute;
    }
    
    .menu .menu-department .menu-column ul li {
        list-style: none;
        display: none;

    }
    .menu .menu-department .menu-column ul li a {
        text-decoration: none;
        color: #000;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }
    .menu-department-mobile li {
        list-style: none;
        padding: 15px;
    }
    .menu-department-mobile {
        margin-left: -12px;
    }
    .menu-electronics {
        display: none;
        margin-left: 20px;
    }
    /* #electronics:checked ~ .menu-electronics {
        display: block;
    } */
     .menu-item input:checked ~ .menu-electronics {
        display: block;
     }
    .menu-department-mobile {
        display: none;
    }
    #nav-department:checked ~ .header > .top-bar > .nav > ul > li > .menu-department-mobile {
        display: block;
    } 
    .menu-department-mobile li a {
        text-decoration: none;
        /* position: absolute;
        left: 30px; */
        color: #000;
    }
    .menu-grocery-mobile {
        display: none;
        position: relative;
    }
    #nav-grocery:checked ~ .header > .top-bar > .nav > ul > li > .menu-grocery-mobile  {
        display: block;
    }
    .menu-grocery-mobile li {
        list-style: none;
        margin-left: 20px;
    }
    .menu-grocery-mobile li a {
        text-decoration: none;
        color: #000;
    }
    .menu-beauty-mobile {
        display: none;
    }
    .menu-beauty-mobile li {
        list-style: none;
        margin-left: 20px;
    }
    .menu-beauty-mobile li a {
        text-decoration: none;
        color: #000;
    }
    #nav-beauty:checked ~ .header > .top-bar > .nav > ul > li > .menu-beauty-mobile {
        display: block;
    }
    .header {
        width: 768px;
    }
    .header .top-bar {
        display: flex;
        width: 376px;
        padding: 16px;
        margin: 0 25%;
        flex-shrink: 1;
        justify-content: space-between;
        align-items: center;
        gap: 39px;
    }
    .header .top-bar .logo {
        display: flex;
        gap: 10px;
    }
    .banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #77DAE6;
        width: 1340px;
        height: 455px;
        flex-shrink: 0;
        border-radius: 20px;
        margin: 40px auto;
        background: #77DAE6;
        width: 335px;
        height: 166px;
        position: relative;
    }
    .banner .banner-title {
        position: absolute;
        top: 20px;
        left: 20px;
        font-family: Gordita;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
    }
    .banner .banner1 {
        position: absolute;
        top: 28px;
        right: 24px;
        width: 84px;
        height: 107px;
        flex-shrink: 0;
        z-index: 1;
    }
    .banner .banner2 {
        position: absolute;
        bottom: 27px;
        right: 15px;
        width: 39px;
        height: 53px;
        flex-shrink: 0;
        z-index: 2;
    }
    .banner .banner3 {
        display: none;
    }
    .banner .banner4 {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 163px;
        height: 111px;
        flex-shrink: 0;
    }
    .categories {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .categories .product {
        display: flex;
        padding: 20px 26px 20px 20px;
        border-radius: 10px;
        background: #fff;
        align-items: center;
        width: 289px;
        height: 84px;
    }
    .categories .product img {
        width: 88px;
        height: 88px;
    }
    .categories .product .product-info .product-price {
        font-family: Gordita;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px;
    }
    .categories .product .product-info .product-describe {
        font-family: Gordita;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        color: #1A162E;
    }
    .browse-categories {
        font-family: Gordita;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        /* display: flex;
        gap: 20px; */
        margin: 20px 30%;
    }
    .filter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 25%;
    }
    .filter .filter-btn {
        font-family: Gordita;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        padding: 6px 12px;
        background: #fff;
        border-radius: 6px;
        cursor: pointer;
    }
    .filter-container {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        position: absolute;
        gap: 20px;
        width: 312px;
        left: 197px;
        top: 89%;
        height: 633.5px;
        flex-shrink: 0;
        background: #fff;
        margin: 30px auto;
        padding: 20px;
        border-radius: 20px;
        visibility: hidden;
        opacity: 0;
        z-index: 99;
    }
    #filter-btn:checked ~ .filter-container {
        visibility: visible;
        opacity: 1;
    }
    .filter-container .filter-section .filter-group {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 272px;
        height: 162px;
        gap: 20px;
    }
    .filter-container .filter-section .filter-group .price-input {
        display: flex;
        gap: 30px;
    }
    .filter-container .img-polygon {
        position: absolute;
        top: -15px;
        right: 47px;
    }
    .overlay-btn {
        position: fixed;
        inset: 0;
        width: 100vw;
        height: 100vh;
        z-index: 98;
        /* background-color: #0000006e; */
        visibility: hidden;
        opacity: 0;
        transition-property: opacity, visibility ;
        transition-duration: 0.3s;
    }
    #filter-btn:checked ~ .overlay-btn {
        visibility: visible;
        opacity: 1;
    }
    .filter-container .filter-section .filter-group .price-input p {
        display: flex;
        width: 121px;
        padding: 8px 12px;
        align-items: center;
        border-radius: 6px;
        border: 1px solid #D2D1D6;
        gap: 20px;
        margin-bottom: 20px;
    }
    .filter-container .filter-section .filter-group .size-selector {
        display: flex;
        justify-content: space-between;
        padding: 5px 14px;
        border-radius: 6px;
        border: 1px solid #D2D1D6;
    }
    .filter-container .filter-section .filter-group .size-selector .weight {
        border-left: 1px solid #D2D1D6;
        padding-left: 12px;
    }
    .filter-container .filter-section .filter-group .size-buttons {
        display: flex;
        justify-content: space-between;
        font-family: Gordita;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }
    .filter-container .filter-section .filter-group .size-buttons span {
        color: #9E9DA8;
        padding: 6px 12px;
        border-radius: 6px;
        background: #F8F8FB;
        margin-bottom: 20px;
    }
    .filter-container .filter-section .filter-group .brands-search {
        display: flex;
        position: relative;
    }
    .filter-container .filter-section .filter-group .brands-search input {
        width: 272px;
        padding: 10px 16px;
        border: 1px solid #D2D1D6;
        border-radius: 6px;
    }
    .filter-container .filter-section .filter-group .brands-search img {
        position: absolute;
        top: 7px;
        right: 8px;
    }
    .filter-container .filter-section .filter-group .brands-tags {
        display: flex;
        justify-content: space-between;
    }
    .filter-container .filter-section .filter-group .brands-tags span {
        color: #9E9DA8;
        padding: 6px 12px;
        border-radius: 6px;
        background: #F8F8FB;
        margin-bottom: 20px;
    }
    .filter-container .filter-actions {
        position: absolute;
        right: 16px;
        bottom: 20px;
    }
    .filter-container .filter-actions .cancel-btn {
        font-family: Gordita;
        font-size: 15px;
        font-weight: 400;
        line-height: 22px;
        color: #9E9DA8;
        border: none;
        background: #fff;
    }
    .filter-container .filter-actions .btn-show-result {
        padding: 9px 10px;
        border-radius: 6px;
        border: none;
        background: #FFB700;
    }
    .product-introduction {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 30px;
    }
    .product-introduction .product-card {
        display: flex;
        flex-direction: column;
        width: 333px;
        padding: 16px;
        gap: 10px;
        border-radius: 20px;
        background: #fff;
        position: relative;
    }
    .product-introduction .product-card .product-img {
        width: 280px;
        height: 274px;
        flex-shrink: 0;
    }
    .product-introduction .product-card .product-img .product-heart {
        position: absolute;
        bottom: 171px;
        right: 39px;
    }
    .product-introduction .product-card .product-details .product-title {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
    }
    .product-introduction .product-card .product-details .product-brand {
        font-size: 15px;
        font-weight: 400;
        line-height: 22px; 
        color: #9E9DA8;
    }
    .product-introduction .product-card .product-quality {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
    }
    .product-introduction .product-card .product-quality .product-rating {
        padding: 10px;
    }
    .product-introduction .product-card .product-quality .product-rating img {
        padding-right: 5px;
    }
}
