body {
    background-color: #000;
}
@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 5s linear infinite;
}

@import "tailwindcss"
