* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flash-sale {
  margin: 0 auto;
  position: relative;
}
.flash-sale h2 {
  position: absolute;
  left: 0;
}
.red-block {
  width: 22px;
  height: 38px;
  background-color: #d94c48;
  border-radius: 4px;
}
.flash-sale span {
  margin-left: 10px;
  color: #dc4146;
}
.countdown .countdown-item .time,
.countdown .countdown-item .number {
  font-weight: 600;
  color: #000;
}
.header {
  display: flex;
  gap: 15px;
  justify-content: space-around;
}
.flash-sale .header .countdown {
  display: flex;
  gap: 15px;
  align-items: flex-end;
}
.flash-sale .header .countdown .countdown-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
img {
  max-width: 100%;
  height: auto;
}
.product-list .product-item {
  position: relative;
}
.product-item img {
  width: 262px;
  height: 256px;
}
.product-list {
  display: flex;
  justify-content: space-around;
}
.product-list .product-item a {
  text-decoration: none;
  color: #fff;
  background-color: #000;
  position: absolute;
  bottom: 61px;
  left: 0;
  width: 100%;
  padding: 13px 20px;
}
.product-list .product-item {
  /* flex: 1; */
  max-width: calc(25% - 15px);
  box-sizing: border-box;
  position: relative;
  text-align: center;
  margin-bottom: 20px;
  /* border: 1px solid red; */
}
.product-list .product-item .sales {
  position: absolute;
  top: 12px;
  left: 14px;
  background-color: #18fb6a;
  color: #fff;
  padding: 6px 10px;
  border-radius: 2px;
}
.product-list .product-item .btn-add-to-cart {
  opacity: 0;
  visibility: hidden;
  transform: translateY(5px);
  transition: opacity 0.3s ease 0.5s, visibility 0s linear 0.5s;
}
.product-list .product-item:hover .btn-add-to-cart {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease 0s, visibility 0s linear 0s;
  transform: translateY(0);
}
.product-list .product-item .product-info {
  margin-top: 15px;
}
.product-list .product-item .product-info,
.product-list .rating {
  text-align: left;
}
.product-list .product-item .icon-heart {
  position: absolute;
  top: 12px;
  right: 10px;
}
.product-list .product-item .icon-eye {
  position: absolute;
  top: 40px;
  right: 10px;
}
.rating {
  margin-top: 5px;
  color: #f7c634;
  font-size: 14px;
  display: flex;
  gap: 10px;
}
.rating .rating-count {
  color: #555;
  font-size: 13px;
  margin-left: 5px;
}
.button {
  display: inline-block;
  background-color: #dc4146;
  color: #fff;
  border: none;
  text-decoration: none;
  padding: 10px 20px;
  margin-top: 20px;
  text-align: center;
}
.wrapper {
  text-align: center;
}
.button:hover {
  color: #000;
  background-color: #bb8284;
}
.nav-button-left {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-left: 900px;
}
.nav-button-right {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.color-circle.red1,
.color-circle.red2,
.color-circle.yellow2,
.color-circle.black2,
.color-circle.black4 {
    background-color: #e9180d;
}
.color-circle.yellow1 {
    background-color: #ebfc3c;
}
.color-circle.black1,
.color-circle.black3{
    background-color: #000;
}
input[type="radio"] {
    display: none;
}
.color-circle {
    width: 16px;
     height: 16px;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid transparent;
    cursor: pointer;
}
input[type="radio"]:checked + .color-circle {
  border-color: black;
}